@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------------------------- react-easy-crop ---------------------------- */

.crop-container {
  position: relative;
  width: 236px;
  height: 236px;

  background: linear-gradient(to right, #ffa500 8px, transparent 8px) 0 0,
    linear-gradient(to right, #ffa500 8px, transparent 8px) 0 100%,
    linear-gradient(to left, #ffa500 8px, transparent 8px) 100% 0,
    linear-gradient(to left, #ffa500 8px, transparent 8px) 100% 100%,
    linear-gradient(to bottom, #ffa500 8px, transparent 8px) 0 0,
    linear-gradient(to bottom, #ffa500 8px, transparent 8px) 100% 0,
    linear-gradient(to top, #ffa500 8px, transparent 8px) 0 100%,
    linear-gradient(to top, #ffa500 8px, transparent 8px) 100% 100%;
  /* #cbd4e1 */
  background-repeat: no-repeat;
  background-size: 70px 70px;
}
.reactEasyCrop_CropArea {
  /* color: rgba(255, 255, 255, 0.8) !important; */
  color: rgba(181, 174, 174, 0.8) !important;
}
